<!DOCTYPE html>
<html>
<head>
  <title>EPSUC</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= render partial: "layouts/header" %>

	<main>
		<div class="container">
		  	<p class="notice"><%= notice %></p>
  			<p class="alert"><%= alert %></p>
			<%= yield %>
		</div>
	</main>		

	<%= render partial: "layouts/footer" %>
 
	<script>
		$(".button-collapse").sideNav();
		$(".dropdown-button").dropdown();
	</script>

</body>
</html>
